# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
.env.*

# Flask specific
instance/
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
