<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

<div class="container">
<h1>Pokemon Shiny Tracker</h1>
<p>Shiny tracking, odds calculator and collection hub.</p>

<div class="pokemon-card">
	<form method="POST">
		<label for="pokemon-name">Pokemon Name:</label><br>
		<input type="text" id="pokemon-name" name="pokemon-name"><br>
	</form>
	{% if pokemon %}
		<img src={{pokemon.shiny_sprite}} alt="A beautiful sunset over the ocean" width="500" height="300">
	{% endif %}
</div>
</div>
</body>
</html>
